.card {
  margin: auto;
  width: 20rem;
}
.input {
  border-radius: 3px;
  border: 1px solid rgb(117, 117, 117);
  text-align: center;
  display: inline-block;
  width: 5rem;
}
.count {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 0.8rem;
  margin-right: 0.8rem;
  color: darkturquoise;
}
